{% extends 'rango/base.html' %}

{% block title %} Login {% endblock %}

{% block body_block %}
        <h1>Login to Rango</h1>

        <form id="login_form" method="post" action="/rango/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
{% endblock %}

{% block footer_div %}
<div>
    <ul>
        <li><a href="{% url 'about' %}">About</a></li>
		<li><a href="{% url 'main' %}">Main</a></li>
    </ul>
</div>
{% endblock %}
