{% extends 'rango/base.html' %}

{% block title %} Register {% endblock %}

{% block body_block %}
        <h1>Register with Rango</h1>
		
        Rango says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/rango/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
{% endblock %}

{% block footer_div %}
        <div>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'main' %}">Main</a></li>
            </ul>
        </div>
{% endblock %}
